[submodule "gitserver"]
	path = gitserver
	url = git@github.com:barankaraaslan/docker-gitserver.git
[submodule "sshd-ldap"]
	path = sshd-ldap
	url = git@github.com:barankaraaslan/docker-sshd-ldap.git
